<div class="padding">
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>Search</mat-card-title>
          <mat-card-subtitle>Search By Title</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="search-form-field">
            <mat-label>Clearable input</mat-label>
            <input matInput type="text" [(ngModel)]="value">
            @if (value) {
              <button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
              </button>
            }
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="search()" >Search</button>
        </mat-card-actions>
    </mat-card>
</div>
